.container{
    width: 980px;
    margin: auto;
}
.giohang{
    margin-left: 100%;
}
.list{
    margin-top: 15px;
display: flex;

}
img{

    width: 188px;
    height: 255px;
background-color: black;
}
.card{
    width: 190px;
    object-fit: cover;
    margin-left: 12px;
    border-radius: 12px;
}
.ten{

    background-color: #788d8d;
    display: flex;
    justify-content: space-around;
}
.tim{
color: white;
padding-right: 12px;
}
.add{
    
    background-color: #788d8d;
    border: none;
}
.dong{
        padding-left: 34px;
        cursor: pointer;
}